{% extends "../layouts/base.html" %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="/seasons">当季主题</a></li>
  <li class="divider">/</li>
  <li>创建主题</li>
</ul>
{% end %}

{% block content %}
<form method="post" class="well" id="form">
  <!-- 基本信息 -->
  <div class="control-group">
    <label class="control-label">标题</label>
    <div class="controls">
      <input type="text" name="period_name" class="input-xxlarge" maxlength="32" value="{{ season.period_name }}" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">内容</label>
    <div class="controls">
      <textarea name="content" class="input-xxlarge" rows="10" maxlength="140">{{ season.content }}</textarea>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">开始时间</label>
    <div class="controls">
      <input type="text" id="start_time" name="start_time" class="input-large" value="{{ season.start_time_str }}" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">结束时间</label>
    <div class="controls">
      <input type="text" id="end_time" name="end_time" class="input-large" value="{{ season.end_time_str }}" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">关联的发型包</label>
    <div class="controls">
      <select id="package_id" name="package_id" class="input-xxlarge chzn-select">
        <option value="0">&nbsp;</option>
        {% for package in packages %}
        <option value="{{ package.id }}">{{ package.package_name }}</option>
        {% end %}
      </select>
    </div>
  </div>

  <!-- 主题图片预览模块 -->
  <div class="control-group" id="title-preview" style="display:none">
    <label class="control-label">主题图片（大）</label>
    <div class="controls">
      <ul class="thumbnails">
        <li class="span10">
        <a href="" target="_blank"><img src="" width="" height="" alt="主题图片"></img></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="control-group" id="title-preview-small" style="display:none">
    <label class="control-label">主题图片（小）</label>
    <div class="controls">
      <ul class="thumbnails">
        <li class="span10">
        <a href="" target="_blank"><img src="" width="" height="" alt="主题图片"></img></a>
        </li>
      </ul>
    </div>
  </div>

  <input type="hidden" id="theme_pic_id" name="theme_pic_id" value="" />
  <input type="hidden" id="theme_pic_url" name="theme_pic_url" value="" />
  <input type="hidden" id="theme_spic_id" name="theme_spic_id" value="" />
  <input type="hidden" id="theme_spic_url" name="theme_spic_url" value="" />

  <!-- 其它图片预览模块 -->
  <div class="control-group">
    <label class="control-label">其它图片</label>
    <div class="controls">
      <ul class="thumbnails" id="others-preview">
        {{ modules.PictureListModule(pics, path_prefix) }}
      </ul>
    </div>
  </div>

  <input type="hidden" id="pic_ids" name="pic_ids" value="" />

  <p>
    <input type="button" id="upload-period-pic" value="替换主题图片（大）" class="btn btn-danger span2" />
    <input type="button" id="upload-period-spic" value="替换主题图片（小）" class="btn btn-danger span2" />
    <input type="button" id="select-pics" value="图片选择" class="btn btn-warning span2" />
    <input type="submit" value="更新主题" class="btn btn-success span2" />
  </p>

  {{ xsrf_form_html() }}
</form>
{% end %}

{% block javascript %}
<script type="text/javascript" src="{{ static_url("js/json2.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/fileuploader.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/uploader-lib.js") }}"></script>
<script type="text/javascript">
  function set_default_values() {
    $('#package_id').val('{{ season.package_id }}');

    $('#start_time').datepicker({
      dateFormat: 'yy-mm-dd',
    });
    $('#end_time').datepicker({
      dateFormat: 'yy-mm-dd',
    });
    $('.chzn-select').chosen();

    {% if pic_url is not None %}
    $('#title-preview a').attr('href', '{{ pic_url }}');
    $('#title-preview img').attr('src', '{{ pic_url }}');
    $('#title-preview').show();
    $('#title-preview-small a').attr('href', '{{ spic_url }}');
    $('#title-preview-small img').attr('src', '{{ spic_url }}');
    $('#title-preview-small').show();
    {% end %}

    $('#select-pics').click(function() {
        window.open('/selector');
    });
  }

  function upload_theme_pic(file, response) {
    // 清空原有的预览图
    // 设置并显示预览模块
    $('#title-preview a').attr('href', response['url']);
    $('#title-preview img').attr('src', response['url']);
    $('#title-preview').show();

    // 设置需要提交的表单
    $('#theme_pic_id').attr('value', response['id']);
    $('#theme_pic_url').attr('value', response['name']);
  }

  function upload_theme_spic(file, response) {
    // 清空原有的预览图
    // 设置并显示预览模块
    $('#title-preview-small a').attr('href', response['url']);
    $('#title-preview-small img').attr('src', response['url']);
    $('#title-preview-small').show();

    // 设置需要提交的表单
    $('#theme_spic_id').attr('value', response['id']);
    $('#theme_spic_url').attr('value', response['name']);
  }

  $(document).ready(function() {
    $('#nav-seasons').addClass('active');

    set_default_values();
    upload_file('upload-period-pic', upload_theme_pic);
    upload_file('upload-period-spic', upload_theme_spic);
  });
</script>
{% end %}

{% block css %}
<link rel="stylesheet" href="{{ static_url("css/enhanced.css") }}" type="text/css" media="screen" charset="utf-8">
{% end %}
