{% extends "../layouts/base.html" %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="/seasons">当季主题</a></li>
    <li class="divider">/</li>
    <li>主题列表</li>
    <li class="pull-right">
        <i class="icon-pencil"></i>
        <a href="/seasons/new">新建主题</a>
    </li>
</ul>
{% end %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>主题标题</th>
            <th>主题图片缩略图</th>
            <th>创建日期</th>
            <th>状态</th>
            <th>已关联发型包</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for season in seasons %}
        <tr>
            <td>{{ season.id }}</td>
            <td>{{ season.period_name }}</td>
            <td>{{ season.theme_pic_url }}</td>
            <td>{{ season.createtime_str }}</td>
            <td>{{ season.actived }}</td>
            <td>{{ season.package_id }}</td>
            <td>
              <a href="/seasons/edit/{{ season.id }}">编辑</a>
                <a href="#">设为无效</a>
            </td>
        </tr>
        {% end %}
    </tbody>
</table>

{{ modules.PaginationModule(page_count) }}
{% end %}

{% block javascript %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#nav-seasons').addClass('active');
  });
</script>
{% end %}
