<form method="get" class="well query form-horizontal" id="form-query" style="">
  <div class="control-group">
    <label class="control-label" for="member_type">用户类型</label>
    <div class="controls">
      <select name="member_type" id="member_type" class="chzn-select" data-placeholder="全部类型">
        <option value="">全部用户</option>
        <option value="0">普通用户</option>
        <option value="1">发型师</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="member_type">用户状态</label>
    <div class="controls">
      <select name="actived" id="actived" class="chzn-select" data-placeholder="全部状态">
        <option value="">全部状态</option>
        <option value="0">未激活</option>
        <option value="1">激活</option>
        <option value="2">已禁用</option>
        <option value="3">用户未通过审核（仅发型师）</option>
        <option value="4">等待审核（仅发型师）</option>
        <option value="5">已通过认证（仅发型师）</option>
        <option value="6">申请修改资料（仅发型师）</option>
        <option value="7">小号</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="province_id">省份</label>
    <div class="controls">
      <select name="province_id" id="province_id" class="chzn-select" data-placeholder="全部省份">
        <option value="">所有省份</option>
        <!-- 动态读取省份信息 -->
        {% for province in provinces %}
        <option value="{{ province.id }}">{{ province.region_name }}</option>
        {% end %}
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="city_id">城市</label>
    <div class="controls">
      <select name="city_id" id="city_id" class="chzn-select" data-placeholder="全部城市">
        <option value="">所有城市</option>
        <!-- 动态读取城市信息 -->
        {% for city in cities %}
        <option value="{{ city.id }}">{{ city.region_name }}</option>
        {% end %}
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="username">昵称</label>
    <div class="controls">
      <input type="text" name="username" id="username" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="email">邮件地址</label>
    <div class="controls">
      <input type="text" name="email" id="email" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="regtime">注册时间</label>
    <div class="controls">
      <input type="text" name="regtime_from" id="regtime_from" />&nbsp;&nbsp;至&nbsp;
      <input type="text" name="regtime_to" id="regtime_to" />
    </div>
  </div><br />
  <div class="control-group">
    <label class="control-label" for="lastlogintime">最后登录时间</label>
    <div class="controls">
      <input type="text" name="lastlogintime_from" id="lastlogintime_from" />&nbsp;&nbsp;至&nbsp;
      <input type="text" name="lastlogintime_to" id="lastlogintime_to" />
    </div>
  </div><br />
  <!--
  <div class="control-group">
      <div class="controls">
          <input type="checkbox" name="include_invalid_users" id="include_invalid_users" />
          已禁用用户
      </div>
  </div><br />
  <div class="control-group">
      <div class="controls">
          <input type="checkbox" name="only_inactive_hairstylist" id="only_inactive_hairstylist" />
          未认证的发型师
      </div>
  </div>
  -->
  <div class="form-actions">
      <input type="submit" value="查询" class="btn btn-success span2">
      <input type="reset" value="重置" onclick="reset_query_form_values()" class="btn btn-success span2">
  </div>
</form>

<script type="text/javascript">
//<![CDATA[
<!-- 设置查询模块的默认值 -->
function set_query_form_values() {
    $('#member_type').val('{{ query_params.get("member_type") }}');
    $('#actived').val('{{ query_params.get("actived") }}');
    $('#province_id').val('{{ query_params.get("province_id") }}');
    $('#city_id').val('{{ query_params.get("city_id") }}');
    $('#username').val('{{ query_params.get("username") }}');
    $('#email').val('{{ query_params.get("email") }}');
    $('#regtime_from').val('{{ query_params.get("regtime_from") }}');
    $('#regtime_to').val('{{ query_params.get("regtime_to") }}');
    $('#lastlogintime_from').val('{{ query_params.get("lastlogintime_from") }}');
    $('#lastlogintime_to').val('{{ query_params.get("lastlogintime_to") }}');
}

function reset_query_form_values() {
  $('.chzn-select').val('').trigger('liszt:updated');
}
//]]>
</script>
