{% extends "../layouts/base.html" %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="#">星光巨匠</a></li>
  <li class="divider">/</li>
  <li>用户列表</li>
</ul>
{% end %}

{% block content %}

{{ modules.UserQueryModule() }}

<!-- 用户列表 -->
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>昵称</th>
            <th>邮箱</th>
            <th>用户类型</th>
            <th>注册时间</th>
            <th>最后登录时间</th>
            <th>状态</th>
            <th>发图数/表情数</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in entries %}
        <tr>
            <td>{{ entry.id }}</td>
            <td>{{ entry.username }}</td>
            <td>{{ entry.email }}</td>
            <td>{{ config["member_type"].get(entry.member_type, "") }}</td>
            <td>{{ entry.regtime_str }}</td>
            <td>{{ entry.lastlogintime_str }}</td>
            <td>{{ config["actived"].get(entry.actived, "") }}</td>
            <td>{{ entry.twitter_num }} / {{ entry.emotion_num }}</td>
            <td>
                <a onclick="unrecommend({{ entry.id }})" href="javascript: void(0)">取消推荐</a>
                {#
                <a href="/stars/recommend_pics/{{ entry.id }}">图片推荐</a>
                #}
                <a href="#">图片推荐</a>
            </td>
        </tr>
        {% end %}
    </tbody>
</table>

<div id="dialog-confirm" title="警告" style="display: none">
    你确定要取消推荐吗？
</div>
{% end %}

{% block javascript %}
<script type="text/javascript">
  function getCookie(name) {
      var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
      return r ? r[1] : undefined;
  }

  function unrecommend(id) {
    $('#dialog-confirm').dialog({
      autoopen: false,
      model: true,
      buttons: {
        '确定': function() {
          $.ajax({
            url: '/stars/delete/' + id + '?_xsrf=' + getCookie('_xsrf'),
            type: 'DELETE',
            success: function(data) {
              response = JSON.parse(data);
              console.log(data);
              if (response['code'] == 0) {
                window.location.href = '/stars';
              } else {
                alert(response['error']);
              }
            }
          });

          $(this).dialog('close');
        },
        '取消': function() {
          $(this).dialog('close');
        },
      },
    });

  }

  $(document).ready(function() {
    $('#nav-stars').addClass('active');

    set_query_form_values();
    $('.chzn-select').chosen();

    $('#link-disabled').click(function() {

    });

  });
</script>
{% end %}
