{% extends "../layouts/base.html" %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="/lessons">DIY课堂</a></li>
    <li class="divider">/</li>
    <li>编辑期刊</li>
</ul>
{% end %}

{% block content %}
<form method="post" class="well">
  <div class="control-group">
    <label class="control-label">期刊标题</label>
    <div class="controls">
      <input type="text" name="name" class="input-xxlarge" value="{{ lesson.subject_name }}" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">期刊描述</label>
    <div class="controls">
      <textarea name="content" class="input-xxlarge" rows="10">{{ lesson.content }}</textarea>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">发型师选择</label>
    <div class="controls">
      <select name="member_id" id="member_id" class="input-xxlarge chzn-select" data-placeholder="选择发型师">
        <option></option>
        {% for stylist in stylists %}
        <option value="{{ stylist.id }}">{{ stylist.id }} {{ stylist.username}} {{ stylist.email }}</option>
        {% end %}
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">开始时间</label>
    <div class="controls">
      <input type="text" name="start_date" id="start_date" class="input-large" value="{{ lesson.start_time }}" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">是否激活</label>
    <div class="controls">
      <select name="actived" id="actived">
        <option value="N">否</option>
        <option value="Y">是</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <ul id="thumbnails" class="thumbnails">
        {{ modules.PictureListModule(pics, path_prefix) }}
      </ul>
    </div>
  </div>
  <div class="control-group">
      <div class="controls" id="pic_ids">
      </div>
  </div>
  <input type="submit" value="修改" class="btn btn-success span2">
  <input type="button" value="上传图片" id="upload-btn" class="btn btn-warning span2" />
  {{ xsrf_form_html() }}
</form>

<div id="image-preview" style="display:none">
    <img width="100%" height="100%" />
</div>

<div id="thumbnail-snippet" style="display:none">
    <li class="span3">
        <div class="thumbnail">
            <img width="100%" height="120" />
        </div>
    </li>
</div>

<form id="pic_form" method="post" action="/uploader" enctype="multipart/form-data">
    <input type="file" id="pic" name="pic" style="display:none" />
    {{ xsrf_form_html() }}
</form>
{% end %}

{% block javascript %}
<script type="text/javascript" src="{{ static_url("js/json2.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/fileuploader.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/uploader_utils.js") }}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#nav-lessons').addClass('active');
    $('#actived').val('{{ lesson.actived }}');
    $('.chzn-select#member_id').val('{{ lesson.member_id }}').trigger('liszt:updated');
  });
</script>
{% end %}

{% block css %}
<link rel="stylesheet" href="{{ static_url("css/enhanced.css") }}" type="text/css" media="screen" charset="utf-8">
{% end %}
