{% extends "../layouts/base.html" %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="/twitters">动态管理</a></li>
  <li class="divider">/</li>
  <li>动态列表</li>
</ul>
{% end %}

{% block content %}
<form method="get" class="well query form-horizontal">
  <div class="control-group">
    <label class="control-label">动态类型</label>
    <div class="controls">
      <select name="share_type" id="share_type">
        <option value=""></option>
        {% for k, v in config["share_type"].items() %}
        <option value="{{ k }}">{{ v }}</option>
        {% end %}
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">动态状态</label>
    <div class="controls">
      <select name="actived" id="actived">
        <option value=""></option>
        {% for k, v in config["actived"].items() %}
        <option value="{{ k }}">{{ v }}</option>
        {% end %}
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">起始日期</label>
    <div class="controls">
      <input type="text" id="start_date" name="start_date" value="" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">结束日期</label>
    <div class="controls">
      <input type="text" id="end_date" name="end_date" value="" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">描述关键字</label>
    <div class="controls">
      <input type="text" id="description" name="description" value="{{ args.get("description", "") }}" />
    </div>
  </div><br />
  <div class="control-group">
    <label class="control-label">用户类型</label>
    <div class="controls">
      <select name="member_type" id="member_type">
        <option value=""></option>
        {% for k, v in config["member_type"].items() %}
        <option value="{{ k }}">{{ v }}</option>
        {% end %}
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">用户昵称</label>
    <div class="controls">
      <input type="text" id="username" name="username" value="{{ args.get("username", "") }}" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">邮件地址</label>
    <div class="controls">
      <input type="text" id="email" name="email" value="{{ args.get("email", "") }}" />
    </div>
  </div>

  <p>
  <input type="submit" value="查询" class="btn btn-success span2">
  <input type="reset" value="重置" class="btn btn-success span2">
  </p>
</form>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>昵称</th>
      <th>缩略图ID</th>
      <th>缩略图</th>
      <th>描述</th>
      <th>用户类型</th>
      <th>发布日期</th>
      <th>评论数</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in entries %}
    <tr>
      <td>{{ entry.id }}</td>
      <td>{{ entry.username }}</td>
      <td>{{ entry.pic_id }}</td>
      <td style="width:20%"><img src="{{ entry.real_pic_url }}" width="120" height="140" /></td>
      <td style="width:20%">{{ entry.description }}</td>
      <td>{{ config["member_type"].get(entry.member_type, "未知用户类型") }}</td>
      <td>{{ entry.createtime_str }}</td>
      <td>{{ entry.comment_num }}</td>
      <td>{{ config["actived"].get(entry.actived, "未知状态") }}</td>
      <td>
        <a href="/twitters/edit/{{ entry.id }}">查看明细</a>
        <a href="javascript:void(0)" onclick="set_actived_status({{ entry.id }}, 5, '#ensure_hide')">隐藏</a>
        <a href="javascript:void(0)" onclick="set_actived_status({{ entry.id }}, 6, '#ensure_mask')">屏蔽</a>
      </td>
    </tr>
    {% end %}
  </tbody>
</table>

<!-- 隐藏操作的确认对话框 -->
<div id="ensure_hide" style="display:none">
  你确定要隐藏该条动态吗？
</div>

<!-- 屏蔽操作的确认对话框 -->
<div id="ensure_mask" style="display:none">
  你确定要屏蔽该条动态吗？
</div>

{{ modules.PaginationModule(page_count) }}
{% end %}

{% block javascript %}
<script type="text/javascript">
  function set_default_values() {
    $('#share_type').val({{ args.get("share_type", [""])[0] }});
    $('#actived').val({{ args.get("actived", [""])[0] }});
    $('#member_type').val({{ args.get("member_type", [""])[0] }});

    $('#start_date').val({{ args.get("start_date", [""]) }});
    $('#end_date').val({{ args.get("end_date", [""]) }});
  }

  function set_actived_status(id, status, element) {
    popup_alert(element, function(){
      $.ajax({
        url: '/api/twitters/' + id,
        type: 'POST',
        data: {
          _xsrf: getCookie('_xsrf'),
          actived: status,
        },
        success: function(data) {
          response = JSON.parse(data);
          if (response['code'] == -1) {
            alert(response['error']);
          } else {
            window.location.reload();
          }
        },
      });
    })
  }

  $(document).ready(function() {
    $('#nav-twitters').addClass('active');
    $('#start_date').datepicker({ dateFormat: 'yy-mm-dd' });
    $('#end_date').datepicker({ dateFormat: 'yy-mm-dd' });

    set_default_values();
  });
</script>
{% end %}
