{% extends "../layouts/base.html" %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="/salons">沙龙管理</a></li>
  <li class="divider">/</li>
  <li>沙龙编辑</li>
</ul>
{% end %}

{% block content %}
<form method="post" class="well query form-horizontal">
  <div class="control-group">
    <label class="control-label">LOGO</label>
    <div class="controls">
      <img id="logo_img" src="{{ logo_pic }}" width="64" height="64" />
      <input type="button" id="change_logo" value="更改" />
    </div>
  </div><br />
  <div class="control-group">
    <label class="control-label">沙龙名称</label>
    <div class="controls">
      <input type="text" name="salon_name" value="{{ salon.salon_name}}" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">推荐状态</label>
    <div class="controls">
      <select id="recommend" name="recommend">
        <option></option>
        {% for key, value in config["recommend"].items() %}
        <option value="{{ key }}">{{ value }}</option>
        {% end %}
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">省份</label>
    <div class="controls">
      <select id="province_id" name="province_id">
        <option></option>
        {% for province in provinces %}
        <option value="{{ province.id }}">{{ province.region_name }}</option>
        {% end %}
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">城市</label>
    <div class="controls">
      <select id="city_id" name="city_id">
        <option></option>
        {% for city in cities %}
        <option value="{{ city.id }}">{{ city.region_name }}</option>
        {% end %}
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">区域</label>
    <div class="controls">
      <select id="domain_id" name="domain_id">
        <option></option>
        {% for domain in domains %}
        <option value="{{ domain.id }}">{{ domain.region_name }}</option>
        {% end %}
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">电话</label>
    <div class="controls">
      <input type="text" name="salon_telephone" value="{{ salon.salon_telephone }}" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">地址</label>
    <div class="controls">
      <input type="text" name="address" value="{{ salon.address }}" class="input-xxlarge" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
    </div>
  </div>
  <p><input type="submit" value="确定" class="btn btn-success span2"></p>
  {{ xsrf_form_html() }}
</form>
{% end %}

{% block javascript %}
<script type="text/javascript" src="{{ static_url("js/fileuploader.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/uploader-lib.js") }}"></script>
<script type="text/javascript">
  function set_default_form_values() {
    $('#province_id').val('{{ salon.province_id }}');
    $('#city_id').val('{{ salon.city_id }}');
    $('#domain_id').val('{{ salon.area_id }}');
    $('#recommend').val('{{ salon.recommend }}');
  }

  function upload_callback(file, response) {
    $('#logo_img').attr('src', response['url']);
    //window.location.reload();
    console.log(response);
  }

  $(document).ready(function() {
    $('#nav-salons').addClass('active');
    set_default_form_values();
    set_region_selectors();

    upload_salon_logo('change_logo', {{ salon.id }}, upload_callback);
  });
</script>
{% end %}
