<div class="control-group">
  <label class="control-label">用户头像</label>
  <div class="controls input-large">
    <img id="avatar_img" src="{{ avatar_pic }}" width="64" height="64" />
    <input type="button" id="change_avatar" value="更改" />
  </div>
</div><br />
<div class="control-group">
  <label class="control-label">用户ID</label>
  <div class="controls">
    <input type="text" value="{{ user.id }}" disabled="disabled" />
  </div>
</div>
<div class="control-group">
  <label class="control-label">用户名称</label>
  <div class="controls">
    <input type="text" name="username" value="{{ user.username }}" />
  </div>
</div>
<div class="control-group">
  <label class="control-label">用户类型</label>
  <div class="controls">
    <input type="text" value="{{ config["member_type"].get(user.member_type) }}" disabled="disabled" />
  </div>
</div>
<div class="control-group">
  <label class="control-label">用户状态</label>
  <div class="controls">
    <select id="actived" name="actived">
      <option></option>
      {% for k, v in config["actived"].items() %}
      <option value="{{ k }}">{{ v }}</option>
      {% end %}
    </select>
  </div>
</div>
<div class="control-group">
  <label class="control-label">邮箱</label>
  <div class="controls">
    <input type="text" name="email" value="{{ user.email }}" />
  </div>
</div>
<div class="control-group">
  <label class="control-label">性别</label>
  <div class="controls">
    <select id="gender" name="gender" class="">
      <option></option>
      {% for k, v in config["gender"].items() %}
      <option value="{{ k }}">{{ v }}</option>
      {% end %}
    </select>
  </div>
</div>
<div class="control-group">
  <label class="control-label">所在省份</label>
  <div class="controls">
    <select id="province_id" name="province_id" class="chzn-select">
      <option></option>
      {% for province in provinces %}
      <option value="{{ province.id }}">{{ province.region_name }}</option>
      {% end %}
    </select>
  </div>
</div>
<div class="control-group">
  <label class="control-label">所在城市</label>
  <div class="controls">
    <select id="city_id" name="city_id" class="chzn-select">
      <option></option>
      {% for city in cities %}
      <option value="{{ city.id }}">{{ city.region_name }}</option>
      {% end %}
    </select>
  </div>
</div>
<div class="control-group">
  <label class="control-label">所在区域</label>
  <div class="controls">
    <select id="domain_id" name="domain_id" class="chzn-select">
      <option></option>
      {% for domain in domains %}
      <option value="{{ domain.id }}">{{ domain.region_name }}</option>
      {% end %}
    </select>
  </div>
</div>
<div class="control-group">
  <label class="control-label">个人描述</label>
  <div class="controls">
    <textarea id="sign_text" name="sign_text">{{ user.sign_text }}</textarea>
  </div>
</div>
<div class="control-group">
  <label class="control-label">是否推荐达人</label>
  <div class="controls">
    <select id="recommend" name="recommend">
      {% for k, v in config["recommend"].items() %}
      <option value="{{ k }}">{{ v }}</option>
      {% end %}
    </select>
  </div>
</div>
<div class="control-group">
  <label class="control-label">是否星光巨匠</label>
  <div class="controls">
    <select id="recommend_talent" name="recommend_talent">
      {% for k, v in config["recommend_talent"].items() %}
      <option value="{{ k }}">{{ v }}</option>
      {% end %}
    </select>
  </div>
</div>
