{% extends "../layouts/base.html" %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="/users">用户管理</a></li>
    <li class="divider">/</li>
    <li>编辑用户</li>
</ul>

<form method="post" class="form-horizontal query well">
  <!-- 普通用户和发型师共用的基本资料 -->
  {{ modules.UserEditBasicModule(user) }}

  {% if user.member_type == 1 %}
    <div class="control-group">
      <label class="control-label">脸型</label>
      <div class="controls">
        <input type="text" id="hair_face" name="hair_face" value="{{ user.hair_face }}" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">发质</label>
      <div class="controls">
        <input type="text" id="hair_quality" name="hair_quality" value="{{ user.hair_quality }}" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">发量</label>
      <div class="controls">
        <input type="text" id="hair_volume" name="hair_volume" value="{{ user.hair_volume }}" />
      </div>
    </div><br />
  {% elif user.member_type == 2 %}
    <div class="control-group">
      <label class="control-label">所属发廊</label>
      <div class="controls">
        {% if user.actived == 6 or user.actived == 4 %}
        <input type="text" id="salon_id" name="salon_id" value="{{ user.salon_id }}" />
        {% else %}
        <input type="text" value="{{ user.salon_id }}" disabled="disabled" />
        {% end %}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">发廊名称</label>
      <div class="controls">
        {% if user.actived in (4, 5, 6) %}
        <input type="text" name="salon_name" value="{{ user.salon_name }}" />
        {% else %}
        <input type="text" value="{{ user.salon_name }}" disabled="disabled" />
        {% end %}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">发廊地址</label>
      <div class="controls">
        {% if user.actived in (4, 5, 6) %}
        <input type="text" name="salon_address" value="{{ user.salon_address }}" />
        {% else %}
        <input type="text" value="{{ user.salon_address }}" disabled="disabled" />
        {% end %}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">发廊电话</label>
      <div class="controls">
        {% if user.actived in (4, 5, 6) %}
        <input type="text" name="salon_telephone" value="{{ user.salon_telephone }}" />
        {% else %}
        <input type="text" value="{{ user.salon_telephone }}" disabled="disabled" />
        {% end %}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">手机号码</label>
      <div class="controls">
        <input type="text" id="mobile" name="mobile" value="{{ user.mobile }}" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">洗剪吹价格</label>
      <div class="controls">
        <select id="price_haircut" name="price_haircut">
          <option></option>
          {% for k, v in config["price"].items() %}
          <option value="{{ k }}">{{ v }}</option>
          {% end %}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">烫发价格</label>
      <div class="controls">
        <select id="price_perm" name="price_perm">
          <option></option>
          {% for k, v in config["price"].items() %}
          <option value="{{ k }}">{{ v }}</option>
          {% end %}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">染发价格</label>
      <div class="controls">
        <select id="price_dye" name="price_dye">
          <option></option>
          {% for k, v in config["price"].items() %}
          <option value="{{ k }}">{{ v }}</option>
          {% end %}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">护理价格</label>
      <div class="controls">
        <select id="price_care" name="price_care">
          <option></option>
          {% for k, v in config["price"].items() %}
          <option value="{{ k }}">{{ v }}</option>
          {% end %}
        </select>
      </div>
    </div><br />
  {% end %}
  <p>
  <input type="submit" value="确定" class="btn btn-success span2">
  </p>
  {{ xsrf_form_html() }}
</form>
{% end %}

{% block javascript %}
<script type="text/javascript" src="{{ static_url("js/json2.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/fileuploader.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/uploader-lib.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/common.js") }}"></script>
<script type="text/javascript">
  function uploader_callback(file, response) {
    $('#avatar_img').attr('src', '/' + response['url']);
    window.location.reload();
  }

  $(document).ready(function() {
    $('#nav-users').addClass('active');

    $('#member_type').val('{{ user.member_type }}');
    $('#gender').val('{{ user.gender }}');
    $('#actived').val('{{ user.actived }}');
    $('#province_id').val('{{ user.province_id }}');
    $('#city_id').val('{{ user.city_id }}');
    $('#price_haircut').val('{{ user.price_haircut }}');
    $('#price_perm').val('{{ user.price_perm }}');
    $('#price_dye').val('{{ user.price_dye }}');
    $('#price_care').val('{{ user.price_care }}');
    $('#recommend').val('{{ user.recommend }}');
    $('#recommend_talent').val('{{ user.recommend_talent }}');

    $('.chzn-select').chosen();

    upload_avatar('change_avatar', '{{ user.id }}', uploader_callback);

    set_region_selectors();
  });
</script>
{% end %}
