{% extends "../layouts/base.html" %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="/users">用户管理</a></li>
    <li class="divider">/</li>
    <li>用户列表</li>
</ul>
{% end %}

{% block content %}

{{ modules.UserQueryModule() }}

<!-- 用户列表 -->
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>昵称</th>
            <th>邮箱</th>
            <th>用户类型</th>
            <th>注册时间</th>
            <th>最后登录时间</th>
            <th>状态</th>
            <th>发图数/表情数</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in entries %}
        <tr>
            <td>{{ entry.id }}</td>
            <td>{{ entry.username }}</td>
            <td>{{ entry.email }}</td>
            <td>{{ config["member_type"].get(entry.member_type, "") }}</td>
            <td>{{ entry.regtime_str }}</td>
            <td>{{ entry.lastlogintime_str }}</td>
            <td>{{ config["actived"].get(entry.actived, "") }}</td>
            <td>{{ entry.twitter_num }} / {{ entry.emotion_num }}</td>
            <td>
                <a href="/users/edit/{{ entry.id }}">资料</a>
                <a href="#">动态</a>
                <a href="#">推荐</a>
                <!-- 用户处于【已禁用】状态时，显示【激活】链接，其它状态均显示【禁用】 -->
                {% if entry.actived == 2 %}
                <a id="link-actived" href="#">激活</a>
                {% else %}
                <a id="link-disabled" href="#">禁用</a>
                {% end %}
            </td>
        </tr>
        {% end %}
    </tbody>
</table>

{{ modules.PaginationModule(page_count) }}

<div id="dialog-confirm" title="警告" style="display: none">
    你确定要禁用该用户吗？
</div>
{% end %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    $('#nav-users').addClass('active');

    set_query_form_values();

    $('.chzn-select').chosen();

    $('#regtime_from').datepicker({ dateFormat: 'yy-mm-dd', inline: true });
    $('#regtime_to').datepicker({ dateFormat: 'yy-mm-dd' });
    $('#lastlogintime_from').datepicker({ dateFormat: 'yy-mm-dd' });
    $('#lastlogintime_to').datepicker({ dateFormat: 'yy-mm-dd' });
});
</script>
{% end %}
